* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --WHITE: #fff;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --DAIRY: #fcfcfc;
  --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
}
/* General Style */
body {
  font-family: "Roboto", sans-serif;
  width: fit-content;
  margin: 0 auto;
}
.link {
  text-decoration: none;
  color: var(--NAVY-BLUE);
}
.list {
  display: flex;
  list-style: none;
  gap: 24px;
}
.p-text {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}
.section-title {
  text-align: center;
  color: var(--NAVY-BLUE);
}
.team-name {
  color: var(--NAVY-BLUE);
}
.container {
  width: 1440px;
}
.d-flex {
  display: flex;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.active::after {
  content: " ";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--IRIS);
  position: relative;
  top: 23px;
}
/* .header-link {
  content: " ";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--IRIS);
  position: relative;
  top: 23px;
} */

/* End of General Style */

/* Header Section (NAV) */
.header {
  justify-content: space-around;
  align-items: center;
  height: 72px;
}
.header .d-flex {
  align-items: center;
}
.header .list {
  gap: 40px;
}
.header .link .list {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}
.header-logo {
  color: var(--NAVY-BLUE);
  font-family: Raleway;
  font-weight: 800;
  margin-right: 76px;
}

.header-logo span {
  color: var(--IRIS);
}
.header-logo:hover {
  color: var(--IRIS);
}
.link:hover {
  color: var(--IRIS);
  cursor: pointer;
}

/* End of Header Section (NAV) */

/* Hero Section */
.hero {
}
.hero-bg {
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  width: 1440px;
}
.hero-txt {
  text-align: center;
  color: var(--WHITE);
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  /* text-transform: uppercase; */
}

.hero-btn {
  color: var(--WHITE);
  background-color: var(--IRIS);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin-top: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.64px;
}
.hero-btn:hover {
  background-color: goldenrod;
  cursor: pointer;
}
.backdrop {
  background-color: var(--NAVY-BLUE-modal);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  background-color: var(--DAIRY);
  width: 408px;
  /* height: 584px; */
  border-radius: 4px;
  padding: 24px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-close-btn {
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--CORNFLOWER);
  width: 30px;
  height: 30px;
  color: var(--NAVY-BLUE);
  margin-left: auto;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-close-btn:hover {
  fill: currentColor;
  border: 1px solid currentColor;
}

.service-form-label {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.service-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  width: 100%;
  position: relative;
}

.input-label {
  text-align: left;
  margin-bottom: 8px;
  color: var(--LIGHT-SLATE);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}

.service-input {
  padding: 12px 40px;
  border: 1px solid #2e2f42;
  border-radius: 4px;
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.service-icon {
  position: absolute;
  top: 55%;
  left: 16px;
  /* fill: black; */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-input:focus + .service-icon,
.service-input:hover + .service-icon {
  fill: var(--IRIS);
  /* border: 2px solid var(--IRIS); */
}

.service-input:hover {
  border: 1px solid var(--IRIS);
}

.service-comment {
  border: 1px solid #2e2f42;
  border-radius: 4px;
  transition: 250ms;
  transition-property: color, border-color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  margin-bottom: 16px;
}

.service-comment:hover,
.service-comment:focus {
  border: 1px solid var(--IRIS);
}

.agree-text {
  color: var(--LIGHT-SLATE);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}
.service-agree {
  display: flex;
  align-items: center;
  justify-content: center;
}

.agree-checkbox {
  width: 16px;
  height: 16px;
  position: relative;
  left: 16px;
  opacity: 0;
}

.agree-checkmark {
  fill: none;
  margin-right: 8px;
  border: 1px solid black;
  border-radius: 2px;
  transition: 250ms;
  transition-property: border-color, background-color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.service-agree .agree-checkbox:focus + .agree-checkmark,
.service-agree .agree-checkbox:checked:focus + .agree-checkmark {
  outline: 1px solid #212121;
}

.service-agree .agree-checkbox:checked + .agree-checkmark {
  background-color: var(--IRIS);
  border-color: var(--IRIS);
  fill: var(--WHITE);
  outline: none;
  stroke: var(--WHITE);
  stroke-width: 0.2;
}

.modal-send {
  padding: 16px 32px;
  background-color: var(--IRIS);
  color: var(--WHITE);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-color: transparent;

  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  margin-top: 24px;
}

.modal-send:hover {
  cursor: pointer;
}
/* End of Hero Section */

/* Benefit Section */
.benefit-list-icon {
  background: var(--CLOUD);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding-top: 24px, 0;
  margin-bottom: 8px;
  transition: 1s;
}
.benefit-list-icon:hover,
.benefit-list-icon:focus {
  background-color: var(--IRIS);
  transition: 0s;
}
.benefit-list-icon:hover svg,
.benefit-list-icon:focus svg {
  fill: var(--WHITE);
}
.benefit-list {
  justify-content: center;
  align-items: center;
  padding-left: 156px;
  padding-right: 156px;
}
.benefit-list h3 {
  margin-bottom: 8px;
}

/* End of Benefit Section */

/* We Do Section */
.wedo {
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.wedo-item {
  width: 360px;
  height: 300px;
}
.wedo .list {
  justify-content: center;
  align-items: center;
}
/* End of We Do Section */

/* Team Section */
.team {
  background-color: var(--CLOUD);
}
.team .list {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.team .team-image {
  margin-bottom: 32px;
}
.team .team-item {
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team .p-text {
  margin-top: 8px;
  margin-bottom: 32;
}
.team-socials {
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
}
.team-socials-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--IRIS);
  padding: 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.team-socials-icon svg {
  fill: var(--WHITE);
}
.team-socials-icon:hover,
.team-socials-icon:hover {
  padding: 15px;
  transition: 0s;
}
.team-socials-icon:hover svg {
  fill: red;
}
/* End of Team Section */

/* Portfolio Styling Section */
.portfolio {
  padding-top: 69px;
  padding-bottom: 120px;
}
.p-project {
  padding-top: 72px;
}
.buttons {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.p-button {
  color: var(--IRIS);
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER);
  background: var(--CLOUD);
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  transition: 1s;
}
.p-button:hover,
.p-button:focus {
  color: var(--WHITE);
  background-color: var(--IRIS);
  transition: 0s;
}
/* .p-project-img:hover img,
.p-project-img:focus img {
  opacity: 0.5;
  border: 2px solid var(--IRIS);
  transition: 0s;
} */

/* .portfolio  */
.p-project .p-list {
  width: 100%;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.p-project .p-project-img img {
  width: 100%;
  display: block;
}
.p-project .p-project-img {
  width: 25%;
  border: 1px solid var(--CORNFLOWER);
}
.p-caption {
  flex-direction: column;
  padding: 32px 16px;
  background: var(--WHITE);
}
.p-caption-header {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.p-project {
  overflow: hidden;
}
.project-image {
  position: relative;
  overflow: hidden;
}
.project-image-caption {
  position: absolute;
  background-color: rgba(77, 90, 229, 0.7);
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.p-project-img:hover .project-image-caption {
  opacity: 1;
  transform: translateY(0);
}
.project-image-caption {
  padding: 40px 32px;
}
/* End of Portfolio Styling Section */

/* Custmers Styling Section */
.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 156;
  padding-right: 156;
}
.customer-icon {
  border: 1px solid var(--LIGHT-SLATE);
  padding: 16px 32px;
  transition: 1s;
}
.customer-icon svg {
  fill: var(--LIGHT-SLATE);
}
.customer-icon:hover,
.customer-icon:focus {
  border: 3px solid var(--IRIS);
  /* padding: 32px 64px; */
  transition: 0s;
}
.customer-icon:hover svg,
.customer-icon:focus {
  fill: var(--IRIS);
}

/* End of Custmers Styling Section */

/* Footer Section */
.footer {
  display: flex;
  padding: 100px;
  background-color: var(--NAVY-BLUE);
  padding-left: 156px;
  padding-right: 156px;
  color: var(--WHITE);
}
.footer-logo {
  text-decoration: none;
  color: var(--CLOUD);
  font-family: Raleway;
  font-weight: 800;
}
.footer-text {
  color: var(--CLOUD);
  margin-top: 16px;
}
.footer-logo span {
  color: var(--IRIS);
}
.footer-logo:hover {
  color: var(--IRIS);
}

/* Footer Socials Styling */
.footer-socials-container {
  padding-left: 120px;
  padding-right: 80px;
}
.footer-socials-container h3 {
  color: var(--WHITE);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.footer-socials {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}
.footer-socials-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--IRIS);
  padding: 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.footer-socials-icon svg {
  fill: var(--WHITE);
}
.footer-socials-icon:hover,
.footer-socials-icon:focus {
  /* padding: 15px; */
  transition: 0s;
}
.footer-socials-icon:hover svg,
.footer-socials-icon:focus svg {
  fill: red;
}
/* End Footer Socials Styling */

/* Subscribe Styling */
.footer-sub form {
  margin-top: 16px;
}
.input-sub {
  border: 2px solid var(--WHITE);
  background: none;
  border-radius: 4px;
  padding: 10px;
  width: 264px;
  color: var(--WHITE);
  background-color: none;
}
.input-sub::placeholder {
  color: var(--WHITE);
}
.btn-sub {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  color: var(--WHITE);
  padding: 8px 24px;
  background-color: var(--IRIS);
  border: none;
  border-radius: 4px;
  margin-left: 24px;
}
.btn-sub svg {
  fill: var(--WHITE);
}
.btn-sub:hover {
  cursor: pointer;
}
/* End of Subscribe Styling */
/* End of Footer Section */
